.blob {
    background: radial-gradient(
        circle,
        var(--blob-color) 0%,
        transparent 100%
    );

    filter: blur(60px);
}

.background {
    position: absolute;
    inset: 0;
    z-index: 0;
}

.content {
    position: relative;
    z-index: 1;
}